Source: ros-galactic-foros-inspector
Section: misc
Priority: optional
Maintainer: Wonguk Jeong <wonguk.jeong@42dot.ai>
Build-Depends: debhelper (>= 9.0.0), libncurses5-dev, ros-galactic-ament-cmake, ros-galactic-ament-lint-common <!nocheck>, ros-galactic-foros-msgs, ros-galactic-rclcpp, ros-galactic-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-foros-inspector
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libncurses5-dev, ros-galactic-foros-msgs, ros-galactic-rclcpp, ros-galactic-ros-workspace
Description: Fail over ROS inspector
