Source: ros-galactic-foros-examples
Section: misc
Priority: optional
Maintainer: Wonguk Jeong <wonguk.jeong@42dot.ai>
Build-Depends: debhelper (>= 9.0.0), ros-galactic-ament-cmake, ros-galactic-ament-lint-common <!nocheck>, ros-galactic-foros, ros-galactic-rclcpp, ros-galactic-std-msgs, ros-galactic-std-srvs, ros-galactic-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-foros-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-galactic-foros, ros-galactic-rclcpp, ros-galactic-std-msgs, ros-galactic-std-srvs, ros-galactic-ros-workspace
Description: Fail over ROS examples
